<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright (c) 2026 naipingzai <npznnz@gmail.com>
  ~ All Rights Reserved.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- FFmpeg 媒体工具 Activity（由 manifest merger 合入主 APP） -->
        <activity
            android:name="com.advancefilemanager.plugin.ffmpegtools.FFmpegToolsActivity"
            android:exported="true"
            android:theme="@style/Theme.FFmpegTools">
            <intent-filter>
                <action android:name="com.advancefilemanager.intent.action.PLUGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.advancefilemanager.intent.action.PLUGIN_EXECUTE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <meta-data android:name="com.advancefilemanager.plugin.ID" android:value="ffmpeg-tools" />
            <meta-data android:name="com.advancefilemanager.plugin.TITLE" android:value="媒体工具" />
            <meta-data android:name="com.advancefilemanager.plugin.DESCRIPTION" android:value="格式转换、视频压缩、音频提取、GIF制作等" />
            <meta-data android:name="com.advancefilemanager.plugin.MIME_TYPES" android:value="video/*,audio/*,image/*" />
            <meta-data android:name="com.advancefilemanager.plugin.CATEGORY" android:value="tool" />
            <meta-data android:name="com.advancefilemanager.plugin.VERSION" android:value="1" />
        </activity>
    </application>
</manifest>
